<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<h2>Year Summary</h2>

<p>Shows information only on paid invoices</p>

<p><strong>Total Miles:</strong> <%= totalMiles %></p>
<p><strong>Total Fuel Cost:</strong> $<%= totalFuelCost.toFixed(2) %></p>
<p><strong>Total Repair:</strong> $<%= totalRepairCost.toFixed(2) %></p>
<p><strong>Total Other Expenses:</strong> $<%= totalOtherExpenses.toFixed(2) %></p>
<p><strong>Total Salary:</strong> $<%= totalSalary.toFixed(2) %></p>
<p><strong>Total Invoice:</strong> $<%= totalInvoice.toFixed(2) %></p>
<p><strong>Total Profit:</strong> $<%= totalProfit.toFixed(2) %></p>

<p><a href="/">Back Home</a></p>
<p><a href="/weeks">View Weekly Records</a></p>

<%- include("partials/footer.ejs") %>